body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.scroll-container {
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}

.scroll-container section {
	width: 100%;
	height: 100%;
}

.dots {	
	z-index: 1;
	list-style: none;
	padding: 0;
	position: absolute;	
    top: 50%;
    -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.dots li a {
	padding: 10px;
	width: 4px;
	height: 5px;
	display: block;
}

.dots li a:before {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(255, 255, 255, 0.48);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;	
	-webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease, background-color 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease, background-color 0.3s ease;
	-o-transition: -o-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.dots li a.active:before {
	content: '';
	background-color: #FFFFFF;
	width: 14px;
	height: 14px;
	margin-top: -4px;
	left: 7px; 
	background-color: white;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.dots-right {
	right: 10px;
}

.dots-left {
	left: 10px;
}
